<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="justaconcept.games.aprotester"
    android:versionCode="4"
    android:versionName="1.03" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="A Protester" >
        <activity android:name="justaconcept.games.aprotester.AProtester" 
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>